<configuration>

    <property name="LOGS" value="./student_elina_zoldnere/logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d %highlight(%-5level) [%t] %logger{55}: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application.log</file>
        <encoder>
            <pattern>%d %-5level [%t] %logger{55}: %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/application-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="REQUEST_RESPONSE_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/request-response.log</file>
        <encoder>
            <pattern>%d %-5level [%t] %logger{55}: %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/request-response-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION_FILE_APPENDER"/>
    </root>

    <logger name="lv.javaguru.travel.insurance.rest.aspect.logger.ControllerLogRequest" level="INFO">
        <appender-ref ref="REQUEST_RESPONSE_FILE_APPENDER" />
    </logger>

    <logger name="lv.javaguru.travel.insurance.rest.aspect.logger.ControllerLogResponse" level="INFO">
        <appender-ref ref="REQUEST_RESPONSE_FILE_APPENDER" />
    </logger>

    <!-- Temporary debug loggers for Spring Security -->
    <logger name="org.springframework.security" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APPLICATION_FILE_APPENDER" />
    </logger>
    <logger name="org.springframework.security.web.access" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APPLICATION_FILE_APPENDER" />
    </logger>

</configuration>
